/* Write your CSS here */

.link {
  text-decoration: none;
  display: flex;
  align-items: center;

  margin: 10px;
  padding-right: 5px;
}
.team-card-list-item {
  background-color: #ffffff20;
  min-height: 120px;
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 10px;
  width: 35%;
  max-width: 380px;
  border: 3px solid #ffffff80;
  border-radius: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

.team-logo {
  height: 60px;
  width: 60px;
  margin-right: 3px;
}

.ipl-team-head {
  color: #ffffff;
  font-family: 'Bree serif';
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .team-logo {
    height: 75px;
    width: 75px;
    margin-right: 7px;
  }

  .ipl-team-head {
    color: #ffffff;
    font-family: 'Bree serif';
    font-size: 23px;
  }
}
